/* PHASE 4: Footer */

.footer {
  background-color: #fff;
  width: 900px;
  margin: auto;
  color: #aaa;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  /* display: block; */
}

.footer-copy {
  /* display: block; */
  float: left;
  padding: 20px;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  display: block;
  padding: 20px;
}

.footer a:hover {
  color: #000;
}
