
<section class='login_form'>
  <h1>Log In</h1>
  <br>

  <form class="login" action="<%= session_url %>" method="post">
    <%= authen_form %>

    <label for="user_email">Email
      <input type="text" name="user[email]" >
    </label>
    <br><br>

    <label for="user_password">Password
      <input type="password" name="user[password]" >
    </label>
    <br><br>

    <input type="submit" value="Log In">
  </form>
</section>
