
<section class='signup_form'>
  <h2>Sign Up</h2>

  <form class="signup" action="<%= users_url %>" method="post">
    <!-- <input type="hidden" name="_method" value="patch"> -->
    <%= authen_form %>

    <label for="user_email">Email
      <input id="user_email" type="text"
        name="user[email]" >
    </label>
    <br><br>
    <label for="user_password">Password
      <input id="user_password" type="password"
        name="user[password]" >
    </label>
    <br><br>

    <input type="submit" value="Create User!">

  </form>
</section>
